[submodule "src/third_party/qbdi"]
	path = src/third_party/qbdi
	url = https://github.com/redthing1/QBDI/
[submodule "src/third_party/redlog_cpp"]
	path = src/third_party/redlog_cpp
	url = https://github.com/redthing1/redlog_cpp.git
[submodule "src/third_party/sol2"]
	path = src/third_party/sol2
	url = https://github.com/ThePhD/sol2
[submodule "src/third_party/luajit_cmake"]
	path = src/third_party/luajit_cmake
	url = https://github.com/zhaozg/luajit-cmake
[submodule "src/third_party/luajit"]
	path = src/third_party/luajit
	url = https://github.com/LuaJIT/LuaJIT
[submodule "src/third_party/lief"]
	path = src/third_party/lief
	url = https://github.com/lief-project/LIEF
