[submodule "src/third_party/qbdi"]
	path = src/third_party/qbdi
	url = https://github.com/redthing1/QBDI/
[submodule "src/third_party/redlog_cpp"]
	path = src/third_party/redlog_cpp
	url = https://github.com/redthing1/redlog_cpp.git
[submodule "src/third_party/sol2"]
	path = src/third_party/sol2
	url = https://github.com/ThePhD/sol2
[submodule "src/third_party/luajit_cmake"]
	path = src/third_party/luajit_cmake
	url = https://github.com/zhaozg/luajit-cmake
[submodule "src/third_party/luajit"]
	path = src/third_party/luajit
	url = https://github.com/LuaJIT/LuaJIT
[submodule "src/third_party/lief"]
	path = src/third_party/lief
	url = https://github.com/lief-project/LIEF
[submodule "src/third_party/nlohmann_json"]
	path = src/third_party/nlohmann_json
	url = https://github.com/nlohmann/json
[submodule "src/third_party/jnjs"]
	path = src/third_party/jnjs
	url = https://github.com/redthing1/jnjs
[submodule "src/third_party/funchook"]
	path = src/third_party/funchook
	url = https://github.com/redthing1/funchook
[submodule "src/third_party/plthook"]
	path = src/third_party/plthook
	url = https://github.com/redthing1/plthook
[submodule "src/third_party/gdbstub_cpp"]
	path = src/third_party/gdbstub_cpp
	url = https://github.com/redthing1/gdbstub_cpp
[submodule "src/third_party/capstone"]
	path = src/third_party/capstone
	url = https://github.com/capstone-engine/capstone.git
[submodule "src/third_party/keystone"]
	path = src/third_party/keystone
	url = https://github.com/redthing1/keystone-engine
